TestProject/Library/CurrentMaximizeLayout.dwlt
TestProject/Library/CurrentLayout.dwlt
TestProject/Library/ScriptAssemblies/Assembly-CSharp.dll
TestProject/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
TestProject/Library/assetDatabase3
TestProject/Library/metadata/*
TestProject/Temp/*
TestProject/TestProject-csharp.sln
TestProject/TestProject.sln
TestProject/Library/ScriptAssemblies/BuiltinAssemblies.stamp
TestProject/Library/CrashedAssetImports.txt
